<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/style.css"/>
    </head>
    <body>
        <div class='main-content'>
            {{>header}}
           <img class='portrait' src ='./img/asd.jpeg'>
           <p>This site provides the current temprature and the chances of rain in a particular area/city.<br>
            It uses the services of mapbox and darksky API's for weather prediction.</p>
        
        </div>
        {{>footer}}
    </body>
</html>